<h2></h2>

<div class="datagrid">
  <div class="dgTop">
    <div class="myTable">
      <table>
        <caption>
          工事一覧
        </caption>
        <thead>
          <tr>
            <th scope="col">工事番号</th>
            <th scope="col">工事名称</th>
            <th scope="col">予算番号</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let kouzi of kouzis">
            <td data-label="工事番号">{{ kouzi.kojino }}</td>
            <td data-label="工事名称">{{ kouzi.kojinm }}</td>
            <td data-label="予算番号">{{ kouzi.yosano }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
